#map{
    width: auto;
    height: 98vh;
}

h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
 }

p{
  /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
} 

/* trail popup */
.mapboxgl-popup-content{
    background-color: #ffffffbb;
    border-radius: 10px;
    box-shadow: 6px 4px 8px 4px;
    font: 12px/20px 'Montserrat', sans-serif;
    z-index: 1;
    width: 275px;
    height: 75px;
}

/* legend */
#legend {
    background-color: #ffffffbb;
    border-radius: 10px;
    bottom: 50px;
    right: 18px;
    box-shadow: 6px 4px 8px 4px;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
    font: 12px/20px 'Montserrat', sans-serif;
    padding: 10px;
    position: absolute;
    z-index: 1;
    
    }
    
    #legend h4 {
    margin: 0 0 10px;
    }
    
    #legend hr {
      width: 16px;
      transform: rotate(45deg);
      float: left;
      margin-right: 10px
    }
    
    #legend ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .class1 {
      border-top: 3px solid red;
    }
    .class2 {
      border-top: 3px solid orange
    }
    
    .class3{
      border-top: 3px solid yellow
    }
    
    .boundary{
      border-top: 4px solid black;
      opacity: .6
    }

    /* Toggle layers */
    #menu {
      background: #fff;
      position: absolute;
      z-index: 1;
      top: 135px;
      right: 50px;
      border-radius: 3px;
      width: 120px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      font-family: 'Open Sans', sans-serif;
      }
       
      #menu a {
      font-size: 13px;
      color: #404040;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      text-align: center;
      }
       
      #menu a:last-child {
      border: none;
      }
       
      #menu a:hover {
      background-color: #f8f8f8;
      color: #404040;
      }
       
      #menu a.active {
      background-color: #3887be;
      color: #ffffff;
      }
       
      #menu a.active:hover {
      background: #3074a4;
      }